absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
altair==4.2.2
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio==4.3.0
appdirs==1.4.4
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///work/perseverance-python-buildout/croot/brotli-split_1698805593785/work
cachetools==5.5.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer==3.4.0
click==8.1.7
clikit==0.6.2
cmdstanpy==1.2.4
comm==0.2.2
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1732552591380/work
conda-content-trust @ file:///work/perseverance-python-buildout/croot/conda-content-trust_1698882886606/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///work/perseverance-python-buildout/croot/conda-package-handling_1698851267218/work
conda_package_streaming @ file:///work/perseverance-python-buildout/croot/conda-package-streaming_1698847176583/work
contourpy==1.3.0
crashtest==0.3.1
crypto==1.4.1
cryptography @ file:///croot/cryptography_1710350347627/work
cycler==0.12.1
Cython==3.0.11
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distro @ file:///work/perseverance-python-buildout/croot/distro_1701732366176/work
Django==5.1.3
entrypoints==0.4
et_xmlfile==2.0.0
executing==2.0.1
Faker==30.8.2
fastjsonschema==2.19.1
favicon==0.7.0
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist==1.5.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1729608855534/work
gast==0.5.4
geographiclib==2.0
geopandas==1.0.0
geopy==2.4.1
gitdb==4.0.11
GitPython==3.1.43
gluonts @ file:///home/conda/feedstock_root/build_artifacts/gluonts_1731365247110/work
google-pasta==0.2.0
graphviz==0.8.4
greenlet==3.1.1
grpcio==1.62.2
h11==0.14.0
h5py==3.11.0
holidays==0.61
htbuilder==0.6.2
httpcore==1.0.5
httpstan==4.13.0
httpx==0.27.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.4
ipython==8.23.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.0
json5==0.9.25
jsonpatch @ file:///croot/jsonpatch_1710807507480/work
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
keras==3.3.2
kiwisolver==1.4.7
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1712091911343/work/libmambapy
lightning==2.4.0
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1732065998937/work
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
menuinst @ file:///croot/menuinst_1706732933928/work
mistune==3.0.2
mkl-fft @ file:///work/perseverance-python-buildout/croot/mkl_fft_1698845673361/work
mkl-random @ file:///work/perseverance-python-buildout/croot/mkl_random_1698845720894/work
mkl-service==2.4.0
ml-dtypes==0.3.2
more-itertools==10.5.0
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
multidict==6.1.0
mxnet==1.9.1
mysql-connector-python==8.4.0
Naked==0.1.32
namex==0.0.8
narwhals==1.13.1
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///work/perseverance-python-buildout/croot/networkx_1698865062738/work
notebook_shim==0.2.4
numpy==2.1.3
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.107
nvidia-cuda-nvrtc-cu12==12.3.107
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.7.29
nvidia-cufft-cu12==11.0.12.1
nvidia-curand-cu12==10.3.4.107
nvidia-cusolver-cu12==11.5.4.101
nvidia-cusparse-cu12==12.2.0.103
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
openai==1.55.3
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.11.0
overrides==7.7.0
packaging==24.1
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878417179/work
pandocfilters==1.5.1
parso==0.8.4
pastel==0.2.1
patsy==1.0.1
pexpect==4.9.0
pillow==10.4.0
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
plotly==5.24.1
pluggy @ file:///work/perseverance-python-buildout/croot/pluggy_1698805497733/work
prometheus_client==0.21.0
prompt-toolkit==3.0.43
propcache==0.2.1
prophet==1.1.6
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1731365424504/work/bazel-bin/python/dist/protobuf-5.28.3-cp312-abi3-linux_x86_64.whl#sha256=9355073b220aa50e90e39cff81821efdd518fc0f0f63bf1d8f7dc685e4bbcf67
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==18.0.0
pycosat @ file:///work/perseverance-python-buildout/croot/pycosat_1698863456259/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.20.0
pydantic==2.10.2
pydantic_core==2.27.1
pydeck==0.9.1
Pygments==2.18.0
pylev==1.4.0
pymdown-extensions==10.12
pyogrio==0.9.0
pyparsing==3.2.0
pyproj==3.6.1
pysimdjson==6.0.2
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
pystan==3.10.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1731919281354/work
python-decouple==3.8
python-dotenv==1.0.1
python-json-logger==2.0.7
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1723045326720/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML==6.0.2
pyzmq==26.0.2
referencing==0.35.1
requests==2.32.3
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.1
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
scipy==1.14.1
Send2Trash==1.8.3
setuptools==75.6.0
shapely==2.0.4
shellescape==3.8.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.1
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
stanio==0.5.1
statsmodels==0.14.4
streamlit==1.39.0
streamlit-aggrid==1.0.5
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-javascript==0.1.5
streamlit-keyup==0.2.4
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
sympy @ file:///croot/sympy_1724938189289/work
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
termcolor==2.4.0
terminado==0.18.1
tinycss2==1.3.0
toml==0.10.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
torch==2.3.0
torchaudio==2.3.0
torchmetrics==1.6.0
torchvision==0.18.0
tornado==6.4.1
tqdm @ file:///work/perseverance-python-buildout/croot/tqdm_1701735729845/work
traitlets==5.14.3
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
uri-template==1.3.0
urllib3==2.2.3
validators==0.34.0
watchdog==5.0.3
wcwidth==0.2.13
webargs==8.6.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.2
wheel==0.41.2
wrapt==1.16.0
xlrd==2.0.1
yarl==1.18.3
zipp==3.21.0
zstandard @ file:///work/perseverance-python-buildout/croot/zstandard_1698847073368/work
